  <nav class="navbar navbar-expand-lg navbar-light "style="background-color: #e3f2fd;">
    <div class="container-fluid" href="#">
      <img src="assets/image/CUISINE BR_SILIENNE_free-file.png" width="180" height="70" class="d-inline-block align-top" alt="CUISINE BRASILIENNE">

      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page"  href="#" routerLink="/add-article">Ajouter une recette</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#" routerLink="/login">Login</a>
          </li>

        </ul>
      </div>
      
    </div>
  </nav>