<select [(ngModel)]="idCategory" (change)="select()" class="form-select form-select-lg mb-3" aria-label=".form-select-lg example">
    <option [ngValue]="0">Toutes</option>
    <option *ngFor="let item of categories" [ngValue]="item.id">{{item.label}}</option>
  </select>
  
