<div *ngIf="article"    class="col-6 col-md-3"
class="card" >
<h1 class="card-title text-center mt-5">{{article.titre}}</h1>
<img  class="img-thumbnail mx-auto mt-5" src="http://localhost:8080/image/{{article.image}}" alt="Photo Recette" width="700" height="500">
    <div class="card-body">
      <h2></h2>

      <h3>Ingredients</h3>
      <p class="card-ingredients">{{article.ingredients}}</p>
      <h3>Preparation</h3>
      <p class="card-preparation">{{article.preparation}}.</p>
      <h4>Date de publication:</h4>
      <p class="card-date">{{article.date}}.</p>
      </div>
      <h3>Commentaire</h3>
    <p *ngFor="let comment of article?.comments" >{{comment.comment}} {{comment.date}}</p>
  <div class="text-center">
    <button type="button" class="btn btn-danger" (click)="delete(article.id!)">Delete</button>
    <button (click)="update(article.id!)">update</button>
    <!-- <app-form-comment></app-form-comment> -->
    <app-form-comment [article]="article"  (com)="updateList($event)"></app-form-comment>
  </div>
