<button type="button" class="btn btn-secondary btn-lg " (click)="showCommentForm()">Ajouter un commentaire</button>
<form (ngSubmit)="addComment()"  *ngIf="displayAddComment">
<!-- <div class="mb-3">
    <label for="exampleFormControlInput1" class="form-label">Nom</label>
    <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="Nom" [(ngModel)]="comment.comment">
  </div>
  <div class="mb-3">
    <label for="exampleFormControlInput1" class="form-label">Prenom</label>
    <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="Prenom">
  </div> -->
  <div class="mb-3">
    <label for="exampleFormControlTextarea1" class="form-label">Commentaire</label>
    <textarea name="comment" class="form-control" id="exampleFormControlTextarea1" rows="3" [(ngModel)]="inputComment"></textarea>
  </div>
  <div class="text-center m-4" >
  <button type="submit" class="btn btn-secondary btn-lg">Ajouter un commentaire</button>
</div>
</form>